<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div>
            <h1>Welcome to weather app</h1>
            <p>This provides some required weather information using user requsted city</p>
        </div>

        <form action="" method="POST">
           
                <div>
                    <label for="city">Enter City name :</label>
                    <input type="text" name = "city" id = "city" required>
                </div>
    
                <div>
                    
                </div>
    
    
                <input type="submit" value="Submit" >
            
        </form>
    </div>
</body>
</html>