<!DOCTYPE html>
<html>
<head>
    <style>
        div {
            margin-inline: auto;
            text-align: center            
        }

        a {
            text-decoration: none;
            background: green;
            color: white;
            padding: 4px 16px;
            border-radius: 8px;
            font-size: 18px;
            font-family: Ubuntu;
            text-align: center;
        }
    </style>
</head>

<body>
    <div>
    <h1>Welcome to Our page</h1>
    <p>You are requested to login</p>
    <a href = "/login">Login</a>
    <div>
</body>
</html>